<section id="about-us" class="clean-block features">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">ABOUT</h2>
            <p class="d-xl-flex justify-content-xl-center" style="text-align: center;"><br>We are the leading company in the field of flower delivery. We have over 100 years of experience in selling flowers and exporting flowers to all over the world.<br>Want to join us and enjoy a huge variety of flowers every day?<br>Sign
                up for our service!<br></p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 feature-box"><i class="icon-speedometer icon"></i>
                <h4>Speed</h4>
                <p>We always make sure our customers get their products as fast as we can. Our speed is an important component in preparing the shipment.</p>
            </div>
            <div class="col-md-5 feature-box"><i class="icon-location-pin icon"></i>
                <h4>Delivery</h4>
                <p>We make deliveries to anywhere you want. Our messengers can reach any place you want, no matter how far away we are.</p>
            </div>
            <div class="col-md-5 feature-box"><i class="icon-grid icon"></i>
                <h4><strong>Variety</strong></h4>
                <p>We have a huge variety of flowers from all over the world. You will always find flowers you will love from our variety.</p>
            </div>
            <div class="col-md-5 feature-box"><i class="icon-earphones-alt icon"></i>
                <h4><strong>Customer Service</strong></h4>
                <p>Our excellent customer service will always be happy to help you with any issue you want - from choosing the type of flower to the color combination that suits you.</p>
            </div>
        </div>
    </div>
</section>
