<section id="contact-us" class="clean-block clean-form dark" style="background: #f99ea3;">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info" style="color: var(--danger);">Permission denied!</h2>
            <p>You do not have permission to access this page</p>
        </div>
    </div>
</section>