<section class="clean-block clean-hero" style="color: rgba(9, 162, 255, 0.85);background: url(&quot;https://images.unsplash.com/photo-1471696035578-3d8c78d99684?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&quot;);">
    <div class="text">
        <img style="border-radius: 40%; margin-bottom: 15px; width: 40%; height: 40%;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19)"
             src="<%= image %>">
        <h2>Welcome <%= firstName + " " + lastName %>!</h2>
        <p>Select one of the options listed in the top bar to continue</p>
    </div>
</section>